
#connection, #subscription{
	background:#fff;
}

.advertisement {
	background: url('../image/banner.jpg');
	height:224px;
}

.newsletter label{
	font-weight: lighter;
	padding:1%;
}

.newsletter input {
	margin:1%;
}

.movie_genres{
	text-align:justify-all;
}

#inscription{
	background-color : red;
	color : white;
}

#username{
	font-family: 'Amaranth', cursive;
}


#newcircuit{
	margin: 10px 0px;
	text-align: center;
}

#reservation{
	padding:20px;
	text-align:left;
	background: #FA644D;
	color:#fff;
	font-weight: bold;
}

#delete-account .btn{
	color:red;
}