@charset "utf-8";
/* CSS Document */

#container-menu-reservation {
	border:2px solid #F8F8F8;
}

.menu-reservation {
	margin-left:39%;
	border:none;
}

#li-transport, #li-paiement, #li-validation {

width: 100px;
    height: 100px;
    background: white;
    padding-top: 20px;
    border: 3px solid #eee;
    border-radius: 50%;
    margin: 50px;
    margin-left: 0px;
    line-height: 60px;
}




.btn.btn-primary {
    background: #F8F8F8;
    color: black;
    border: none;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

#eventForm {
    display: inline-grid;
    text-align: center;
    margin-left: 40%;
}

h5 {
	font-weight:600;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1.2;
}

#ui-datepicker-div{
  z-index: 9999999;
}

.lab2, .lab3 {
  font-weight:100;  
}
#arrival, #departure{
    display:none;

}
label.btn.btn-primary {
    margin-left: 25%;
}

.bg-info{padding:15px;}

#resever{
    margin-bottom:10px;
}