


/* footer general style */

footer {
    background:#E3E3E3;
}

.row{
	text-align: center;
}

h4{
	letter-spacing: 1px;
	text-transform: uppercase;
    margin: 2% 0%;
}

#navigation li, #social li, #infos li {
    list-style: none;
    margin-top: 5%;
    margin-bottom: 10px;
}

 
/* social media img column */

ul.footer-list {
    margin-left: -10%;
    list-style: none;
    text-align: center;
}

#social li {
    display: inline-block;
}

ul.footer-list li img {
    width:46px;
    height:auto;
    margin:20px;
}

/* navigation column */
 
#navigation li{
    margin-right: 15%;
    text-transform: uppercase;
}

/* copyright */

#copyright{
    margin-top: 10px;
}

/* infos column */

#newsletterDiv{
    background: #F53618;
    color:#fff;

    padding:5px;
}
