


/* footer general style */

footer {
    background:#E3E3E3;
}

footer ul, footer li {
    list-style: none;
    list-style-type: none;
}

.row{
	text-align: center;
}

h4{
	letter-spacing: 1px;
	text-transform: uppercase;
}

#navigation li, #social li, #infos li {
    margin-top: 2%;
}

 
/* social media img column */

ul.footer-list {
    margin-left: -10%;
}

#social li, ul#payment li {
    display: inline-block;
}

ul.footer-list li img {
    width:46px;
    height:auto;
    margin:20px;
}

/* navigation column */
 
#navigation li, ul#payment li {
    margin-right: 1%;
}

/* copyright */

#copyright{
    margin-top: 10px;
}

/* infos column */

#newsletterDiv{
    background: #F53618;
    color:#fff;

    padding:5px;
}

ul#payment {
    margin: 0 auto;
    margin-left:-10%;
}

#payment img {
    width: 42px;
    height: auto;
}


