/* ================================

 The Overlay 

 ==============================  */


.overlay_div_connect {  
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 999999999; /* Sit on top */
    left: 0;
    top: 0;
    background: url('../image/overlay.jpg');
    background-size: cover;
    color: #818181;
    overflow-x: hidden; 
    transition: 0.5s linear;
}

/* Position the content inside the overlay */
.overlay_div_connect .overlay-content {
    position: relative;
    top: 0; 
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.connection{
    background: #fff;
    border-radius: 10px;
    padding:30px;
}

.connection_btn button.btn.btn-default{
    margin:30PX;
}

.overlay-content h3 {
    margin: 30px;
    letter-spacing: 2px;
    font-family: "Amaranth";
    text-transform: uppercase;
}


.connection a {
    padding: 8px;
    text-decoration: none;
    display: block; 
    transition: 0.3s; 
}


.connection a:hover, .connection a:focus {
    color: #f1f1f1;
    background: #ee3c38;
}


.overlay_div_connect .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index:99999;
}

.overlay_div_connect a.closebtn {
    color:#ee3c38;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay_div_connect a {font-size: 20px}
    .overlay_div_connect .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}