@charset "utf-8";
/* CSS Document */

#gmap_canvas{
    height: 400px;
	width:100%;
}

.text-place, .pays-ville-place {
	height:400px;
	position:relative;
	margin-bottom:30px;
}

.text-place {
    border-left: 1px solid deepskyblue;
}

.pays-ville-place {
    border-right: 1px solid deepskyblue;
}


.inner-text-place, .inner-pays-ville-place {
	position: absolute;
  	top: 50%; /* poussé de la moitié de hauteur du référent */
  	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
	text-align: justify;
}

#gmap_canvas img{
	max-width:none!important;
	background:none!important;
}

h3 {
    color: deepskyblue;
}

h4 {
    color: cornflowerblue;
    font-size: small;
}

.btn.btn-lg.btn-default {
    margin-bottom: 30px;
}

p {
    margin-right: 15px;
}

.thumbnail > img, .thumbnail a > img {
    height: 158px;
    width: 100%;
}

.btn.btn-lg.btn-default.button-fav-pink {
	background:pink;
}

figure, li, div, img, a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
}


/* Slider Style */


figure.min li {
    float: left;
    margin-bottom: 3%;
    margin-right: 4%;
    display: inline-block;
    width: 75px;
    height: 75px;
}

figure.min a {
    position: relative;
    width: 75px;
    height: 75px;
    border: 4px solid transparent;
}

figure.min img {
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    width: 100%;
    height: 60px;
     border: 2px solid transparent;
}

figure.min img:hover {
    border: 2px solid #A10526;
}

figure.max img {
    height:400px;
    width: 100%;
    position: relative;
    border:3px solid #A10526;
    margin-bottom: 2%;
    margin:-1%;
}

figure.max {
    overflow: hidden;
    clear: both;
}

figure.max li {
    position: absolute;
    z-index: 1;
    width: 100%;
}

figure.max li:target {
    z-index: 2;
}

.grid figure {
	height: 200px;
}

.proxiplace {
	margin-bottom: 40px;
}