/*

SEARCH.PHP STYLESHEET

*/

h1{
	text-align: center;
	padding:1%;
}

/* search span */ 

span.search{
    font-style: italic;
}

/* search error message */
.search_error{
    text-align:center;
}

.movieDesc{
	font-style: italic;
	color:#494A4A;
	text-align:justify;
}

.movieTitle{
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}