@charset "utf-8";
/* CSS Document */

#geolocation_map {
    height: 400px;
    overflow: visible;
	width:100%;
	margin-bottom:50px;
}

img {
	height:91.18px;	
}

#pagetitle {
    text-align: center;
    color: #1b1c1d;
    margin-bottom: 40px;
}

p {
    text-align: center;
}

.hotels-restaurants {
    border: 1px solid #436b7d;
    border-radius: 30px;
    background: rgba(203, 241, 237, 0.56);
}

#sideInfos h4 {
    font-size: 25px;
    text-align: center;
    color: deepskyblue;
    border-bottom: 1px dashed deepskyblue;
    margin-bottom: 80px;
    padding: 10px;
}

.thumbnail_place{
    border: 3px solid transparent;
}
.thumbnail_place:hover {
    border:3px solid #eee;
}