@charset "utf-8";
/* CSS Document */

body {
	position:relative;	
}

#geolocation_map {
    height: 400px;
    overflow: visible;
	width:100%;
	margin-bottom:50px;
}

img {
	height:91.18px;	
}

#pagetitle {
    text-align: center;
    color: #1b1c1d;
    margin-bottom: 40px;
    font-family: "Courgette";
}

p {
    text-align: center;
}

.hotels-restaurants {
    border: 1px solid #436b7d;
	height:590px;
}

#sideInfos h3 {
    font-size: 25px;
    text-align: center;
    color: white;
    border-bottom: 1px dashed deepskyblue;
    margin-bottom: 20px;
    padding: 10px;
    background: #8fcae4;
    margin: 30px;
    font-family: "Courgette";
}

.thumbnail_place{
    border: 3px solid transparent;
}
.thumbnail_place:hover {
    border:3px solid #eee;
}

.scrollspy-example {
    position: relative;
    overflow: scroll;
    height: 480px;
}