@charset "utf-8";
/* CSS Document */

body {
	position:relative;	
}


ul{
    list-style-type: none;
}

article li{
    margin-left:-40px;
}

article{
    text-align: left;
}

#geolocation_map {
    height: 400px;
    overflow: visible;
	width:100%;
	margin-bottom:50px;
}

.miniatures img {
	height:91.18px;	
}

#pagetitle {
    text-align: center;
    color: #1b1c1d;
    margin-bottom: 40px;
    font-family: "Courgette";
}

#journey{
    font-family: "Amaranth";
    font-size:20px;
}

.hotels-restaurants {
    border: 1px solid #436b7d;
	height:590px;
}

/* side infos for the circuit */

#sideInfos h3 {
    font-size: 25px;
    color: white;
    text-align: left;
    border-bottom: 1px dashed deepskyblue;
    margin-bottom: 20px;
    padding: 10px;
    background: #8fcae4;
    font-family: "Courgette";
}

article .block{
    margin-top:1%;
    padding:1%;
}

span.more{
    color:#898787;
    font-style: italic;
}

.thumbnail_place{
    border: 3px solid transparent;
}
.thumbnail_place:hover {
    border:3px solid #eee;
}

.scrollspy-example {
    position: relative;
    overflow: scroll;
    height: 480px;
}