@charset "utf-8";
/* CSS Document */

body {
	background:white;
	margin :0;
	padding:0;
}

header {
	background-color: red;
	color: black;
    font-family: 'Gabriela', serif;
	height:100px;
}

h1 {
    font-size: 20px;
    letter-spacing: .10em;
	text-shadow: 10px 5px 5px #767676;
	float:left;
}

#menuint {
	margin-left:10px;
	width : 80%;
	display:inline-block;
}

#menuint ul {
	text-align:center;

}

#menuint ul li {
	list-style:none;
	display:inline-block;
	width:5%;
	padding:5%;
}

#menuint ul li a {
	text-decoration:none;
	color:black;
}

#user {
	border-left:2px solid #292626;
	float:right;
	font-size:1em;
	width:15%;
	opacity:0.8;
	display: inline-block;
}

#user p {
	text-align:center;
}

#user a {
	text-decoration:none;
	color:#000000;	
}

img{
	width: 50px;
	height: 50px;
}

#reseaux li{
	list-style: none;
	display: inline-block;
}

#reseaux{
	text-align: right;
}

#menu_footer li{
	list-style: none;
	display: inline-block;
}
#menu_footer {
	text-align: center;
	color: black;
	margin-bottom: 0px;
}

#auteurs li{
	list-style: none;
}

