@charset "utf-8";
/* CSS Document */

/* ===============================

 IMPORTANT AND GENERAL STYLE 

 =============================== */

.container-fluid {
    padding-right:0px;
    padding-left:0px;
}

.thumbnail {
    border:none;    
    background:#F8F8F8; 
}

/* ---------- header --------- */

header{
	width:100%;
}

#logo {
    width:200px;
    height:100px;   
}

#title{
    font-family: 'Courgette', cursive;

}

h4, #subtitle {
    font-family: 'Amaranth', sans-serif;
}

 /* navigation bar */

.nav-stacked li {
	font-size:12px;
}

.nav-stacked li a {
	color:black;
	text-decoration:none;
}

ul.nav.nav-stacked.navbar-right {
    margin-right: 15px;
    margin-top: 15px;
}

.navbar-brand{
	width: 100%;
	height:auto;
}

.navbar {
	margin-bottom:0px;	
}

ul.navbar-nav {
    margin-top: 3%;
    margin-left: 15%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background:#F5E0A2;
	font-weight:bold;
}

.navbar-nav li a {
    text-transform:uppercase;
    letter-spacing:2px;
}

/* ---------- search bar index.php --------- */ 

#searchbarDiv {
    padding: 1%;
    overflow: hidden;
    margin-left: 15px;
}

#searchTools{
	overflow: visible;
	z-index: 9999;
}

#searchbarDiv input[type="search"] {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 110%;
    width: 100%;
    padding: 1%;
	height:50px;
}

#styled-select {
    overflow: hidden;
    background-color: #F0F0F0;
    color: #333;
    height: 50px;
    text-align:center;
    text-align-last: center;
  /* webkit*/
}

#styled-select select {
    background: #F0F0F0;
    height: 50px;
    width: 127.95px;
    left: -15px;
    position: relative;
    border:none;
}

/* search button */
button.btn.btn-default.col-lg-2.col-md-hidden {
    background-color: #008B8B;
    height:50px;
    border-radius: 1px;
    color: #3e0b0b;
}

/*---------- end -------------- */

/* ---------- carousel index.php --------- */ 

.inner-container-carousel {
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    background-image:url(../image/fondform.png);
}

.overlay-h1, .jumbotron h1 {
	font-weight:700;
}

.overlay-h2, .jumbotron p {
	font-family: Uni-Sans-book;
}

.img-carrousel-index {
    width: 100%;
    max-height: 475px;
}

.nom-lieu-carousel {
    font-size:15px;
}

.nom-film-carousel {
    font-size:12px;
    font-weight:700;
}

.carousel-caption a {
    color: white;
    text-decoration: none;
    font-size: larger;
}



#description {
	background:#F8F8F8;	
}

/*---------- end  -------------- */


/* ----------- back to top button ---------- */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


/*---------- contact.php style  -------------- */

.jumbotron {
	background-image:url('../image/contact.jpg');
    margin-top: -20px;
	text-align: center;
    color: white;
	background-size: cover;
}

/*---------- end  -------------- */

#input-message {
	height:150px;	
}

.infos {
    -moz-box-shadow: 5px 5px 5px #656565;
    -webkit-box-shadow: 5px 5px 5px #656565;
    -o-box-shadow: 5px 5px 5px #656565;
    box-shadow: 5px 5px 5px #656565;
	height: 295px;
    text-align: center;
}

.infos-blue {
	color:blue;
	font-weight:600;
}

/* ------------ selection.php style ---------- */
#map-canvas{
  height: 400px;
  width: 400px;
  margin-right: 10px;
} 
/*---------- end  -------------- */



/* ===========================

MEDIA QUERIES 

=========================== */

@media all and (max-device-width: 480px)
{
    .overlay{
        display:block;
        position: relative;
    }
}