@charset "utf-8";
/* CSS Document */

body{
	font-family:url('https://www.fontify.me/wf/0cdbacad7fd241378c8726431c6f3964');
}


header{
	width:100%;
}

.thumbnail {
	border:none;	
}

.nav-stacked li {
	font-size:12px;
}

.nav-stacked li a {
	color:black;
	text-decoration:none;
}

ul.nav.nav-stacked.navbar-right {
    margin-right: 15px;
    margin-top: 15px;
}

.navbar-brand{
	width:100%;
	height:auto;
}

.navbar {
	margin-bottom:0px;	
}

ul.navbar-nav {
    margin-top: 3%;
    margin-left: 20%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background:#F5E0A2;
	font-weight:bold;
}

#searchbarDiv{
	padding:1%;
	border: 1px solid blue;
	background:grey;
	width:100%;
}

footer {
	background:#E3E3E3;
}

#searchbarDiv input[type="search"] {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 110%;
    width:100%;
    padding: 1%;
}

#logo {
	width:200px;
	height:100px;	
}

.container-fluid {
	padding-right:0px;
	padding-left:0px;
}

